<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:horizonos="http://schemas.horizonos/sdk"  >

    <horizonos:uses-horizonos-sdk
        horizonos:minSdkVersion="69"
        horizonos:targetSdkVersion="69"
        />
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        />
    <uses-feature
        android:name="com.oculus.feature.BOUNDARYLESS_APP"
        android:required="true"
        />
    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false"
        />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    <uses-permission android:name="com.oculus.permission.USE_SCENE" />

    <uses-feature
        android:name="com.oculus.experimental.enabled"
        android:required="true"
        />

    <uses-feature
        android:name="com.oculus.feature.PASSTHROUGH"
        android:required="true"
        />

    <uses-feature
        android:name="com.oculus.feature.RENDER_MODEL"
        android:required="false"
        />

    <uses-feature
        android:name="android.software.picture_in_picture"
        android:required="false" />
    <uses-permission android:name="com.oculus.permission.RENDER_MODEL" />
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopologiumVR"
        >
        <meta-data
            android:name="com.oculus.ossplash.background"
            android:value="passthrough-contextual"
            />
        <meta-data
            android:name="com.oculus.vrdesktop.fbpermission.CREATE_ACTIVITY_CONTAINER"
            android:value=""
            />
        <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />

        <uses-native-library
            android:name="libossdk.oculus.so"
            android:required="false"
            />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:windowLayoutInDisplayCutoutMode="never"
            android:launchMode="standard"
            android:label="@string/app_name"
            android:theme="@style/Theme.TopologiumVR">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EquationPanel"
            android:allowEmbedded="true"
            android:exported="false"
            >
        </activity>
    </application>

</manifest>